html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  min-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 50%;
  border: 1px solid oklch(92.2% 0 0);
  margin: 24px;
  border-radius: 10px;
}
